<% content_for :head do %>
  <title>Huntivore | Create Your Free Account</title>
  <meta name="description" content="Create your free Huntivore account! It's quick and easy and you'll be ready to hunt right away!">
<% end %>

<div class="row">
	<div class="col-md-8">
		<h1>Create Your Free Huntivore Account</h1>
		<p>Getting started with Huntivore is quick and easy.</p>

		<h2>Why create a Huntivore account?</h2>
		<p>Creating an account allows you to list your properties and hunts. It also allows you to book hunts and properties. Accounts are free and always will be.</p>

		<h3>How much does it cost to list a property or hunt?</h3>
		<p>Listing your property or hunt is FREE. A service fee of <%= fee_percent(HUNTIVORE_FEE) %> is added to every reservation (paid by the one reserving the trip).</p>

		<h3>Have other questions?</h3>
		<p>Please check out our <%= link_to "FAQ", faq_path %> or <%= link_to "contact us", contact_path %>.</p>
	</div>

	<div class="col-md-4">
    <%= render partial: "form" %>
  </div>
</div>
