<p>Hi @user.first_name,</p>

<p>Welcome to Huntivore! Have a hunt or property that's available to book? <strong><a href="http://www.huntivore.com/properties/new">List it here FREE</a></strong>! We will feature your hunt on our homepage and post it to our Facebook page so you get as much exposure as possible! When you've listed your hunt, just email <a href="mailto:danny@huntivore.com">danny@huntivore.com</a> with your property and he'll get that set up!</p>

<p>Thanks again for joining and please let us know if you ever have any questions.</p>

<p>
  Thanks,
</p>

<h3>The Huntivore Team</h3>