<% content_for :head do %>
  <title>Huntivore | Edit Outfitter Page</title>
  <meta name="description" content="Create your Outfitter page on Huntivore!">
<% end %>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<%= render partial: "form" %>
	</div>
</div>

<div id="loading">
  <p>Please hold tight - your Outfitter page is getting updated!
  <img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/ajax-loader.gif" /></p>
</div>