<% content_for :head do %>
  <title>Huntivore | Editing <%= @property.title %></title>
  <meta name="description" content="Currently editing <%= @property.title %>.">
<% end %>

<h1>Editing "<%= @property.title %>"</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<%= render partial: "edit_form" %>
	</div>
</div>