<h1>Current Listings</h1>

<ul>
	<% @properties.each do |p| %>
		<li><strong><%= link_to "#{p.title}", p %><strong> - <%= p.location %> ($<%= p.price %>/night)</li>
	<% end %>
</ul>
<%= will_paginate @properties, renderer: BootstrapPagination::Rails %>


