<% content_for :head do %>
  <title>Huntivore | Hunting Properties and Events</title>
  <meta name="description" content="Check out the available hunting properties and events currently listed on Huntivore here.">
<% end %>

<% if params[:search] %>
  <%= render partial: "search" %>
<% else %>
  <%= render partial: "all" %>
<% end %>