<% content_for :head do %>
  <title>Huntivore | List Your Property or Hunt</title>
  <meta name="description" content="Have a property or hunt that is available for booking? Click here to post it on Huntivore for free and earn money!">
<% end %>

<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<%= render partial: "form" %>
	</div>
</div>

<div id="loading">
  <p>Please hold tight - your listing is getting built!
  <img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/ajax-loader.gif" /></p>
</div>