<h1>About Huntivore</h1>

<p>Huntivore was started by best friends Taylor Hanning and Danny Baumann in 2012. Originally called LodgeHound, Huntivore was the first ever marketplace to find and list hunts online.</p>