<% content_for :head do %>
  <title>Huntivore | About Huntivore</title>
  <meta name="description" content="Huntivore is the original peer to peer marketplace for finding and listing hunts online. Learn more about it here.">
<% end %>

<div class="row">
	<h1>About Huntivore</h1>

	<p>t started with a dream. A dream to hunt anywhere and everywhere in the world. To hunt all types of game with your best friends. Basically we dreamt of hunting heaven. That is why we started Huntivore. To make our dream a reality. Did we make our dream come true? Not yet. Will it ever come true? Hopefully. But for now, we are content with building the best online hunting platform. And that my friends, will have to do.<p>

	<h3>So Who “Is” Huntivore?</h3>

	<p>Well that is a good question. There is me, Taylor Hanning, a law school graduate who failed the bar and started a water well repair company, and Danny Baumann, a cartoon animator who couldn’t cut it and became a ruby programmer. Two things unite us, we’ve been best friends forever and we know how to epically fail at things. We’ve started several online business, some good, some effing terrible. Huntivore is our beautiful online love child. </p>

	<h3>What “Is” a Huntivore?</h3>

	<p>Think of the coolest person in the world. The guy or gal who has a million stories of survival. The person who survives on pure instinct. The person who climbs Everest, or flies across the Atlantic ocean on a kiteboard. The person who pursues life with the force of a hurricane. Quite simply, a huntivore is who most of us aspire to become. Not the person in the cubicle. Not the person with email and Facebook open in their browser. No. The person who hunts life. The person who is beyond meat and vegetable. Who isn’t defined by what they consume but by what they seek.</p> 

	<p class="contact">Want to get in touch? Feel to <strong><a href="http://www.huntivore.com/contact">contact us here</a></strong>. We will respond as soon as possible.</p>
</div>