<% content_for :head do %>
  <title>Huntivore | About Huntivore</title>
  <meta name="description" content="Huntivore is the original peer to peer marketplace for finding and listing hunts online. Learn more about it here.">
<% end %>

<h1>About Huntivore</h1>

<p>Huntivore was started by best friends Taylor Hanning and Danny Baumann in 2012. Originally called LodgeHound, Huntivore was the first ever marketplace to find and list hunts online.</p>