<% content_for :head do %>
  <title>Huntivore | Contact Huntivore</title>
  <meta name="description" content="Want to get in touch? Click here to contact Huntivore.">
<% end %>

<h1>Contact Us</h1>
<p>Questions? Please contact taylor [at] huntivore (dot) com</p>
