<div class="row">
	<div class="col-md-8">
		<div class="jumbotron home">
		  <h1>Find Time to Hunt</h1>
		  <p>Tired of not having time to hunt? So were we - which is why we built Huntivore. The original marketplace for finding the best hunting locations and making money listing your hunting property.</p>
		  <!-- <h2>Get started now!</h2> -->
		</div>
	</div>

	<div class="col-md-4">
		<%= render partial: "devise/registrations/form" %>
	</div>

</div>