<div class="row">
	<div class="col-md-8">
		<div class="jumbotron home">
		  <h1>Find Time to Hunt</h1>
		  <p>Tired of not having time to hunt? So were we - which is why we built Huntivore. The original marketplace for finding the best hunting locations and making money listing your hunting property.</p>
		  <div class="row">
		    <div class="col-xs-4">
		      <%= link_to raw('<i class="fa fa-map-marker"></i> Hunt'), properties_path, class: "btn btn-primary btn-lg" %>
		    </div>
		    <div class="col-xs-4">
		      <%= link_to raw('<i class="fa fa-home"></i> List'), new_user_registration_path, class: "btn btn-primary btn-lg" %>
		    </div>
		    <div class="col-xs-4">
		      <%= link_to raw('<i class="fa fa-usd"></i> Earn'), properties_path, class: "btn btn-primary btn-lg" %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="col-md-4">
		<%= render partial: "devise/registrations/form" %>
	</div>

</div>