<% content_for :head do %>
  <title>Huntivore | Attention Hunters: Free Aerial Photography of Your Land or Property</title>
  <meta name="description" content="Do you have land, a cabin, or property and want to allow others to hunt on it? Sign up today and get free aerial photography. ">
<% end %>

<div id="listing-special">
	<section class="listing">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-sm-4 col-sm-offset-4">
	  			<%= link_to "List Your Land", new_property_path, class: "btn btn-primary btn-large" %>
	  		</div>
	  	</div>

	  	<div class="row">
	  		<div class="col-sm-8 col-sm-offset-2">
	  			<h1>List your land and earn money</h1>
	  			<h2>Free aerial photography of Land, Cabin, or Ranch <span class="superscript">Limited Availability</span></h2>
	  		</div>
	  	</div>
	  </div>	
	</section>

	<section class="listing-ad">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h4>Earn extra money $</h4>
					<p>Let your land work for you. Owners use income from Huntivore to pay bills, pursue passions, and support hobbies.</p>
				</div>

				<div class="col-sm-4">
					<h4>Host when you want</h4>
					<p>Set your price, availability, and reservation requirements. Rent seasonally, or make your land available every day.</p>
				</div>

				<div class="col-sm-4">
					<h4>Meet new people</h4>
					<p>Profile picture and verified identity means that guests who arrive aren't strangers. Make friends from around the world.</p>
				</div>
			</div>
		</div>
	</section>
</div>

