<% content_for :head do %>
  <title>Huntivore | Outfitters Only</title>
  <meta name="description" content="Get your free outfitter page on Huntivore and start getting more exposure today. It's completey free.">
<% end %>

<div class="row">
	<div class="col-md-8">
		<div class="jumbotron list outfitter">
		  <h1>Attention Outfitters:</h1>
		  <p>Get a FREE outfitter page on Huntivore for a limited time. Connect with hunters and outdoor enthusiasts that want to book your listings. Create a free account and get started now.</p>
		  <ul>
		  	<li><i class="fa fa-crosshairs"></i> No hassles </li>
		  	<li><i class="fa fa-crosshairs"></i> No fees</li>
		  	<li><i class="fa fa-crosshairs"></i> All hunting</li>
		  </ul>
		</div>
	</div>

	<div class="col-md-4">
		<%= render partial: "devise/registrations/form" %>
	</div>
</div>

</div><!-- container body -->

<section class="content-list">
	<div class="container">
	  <div class="row list">
	  	<div class="col-sm-4">
	  		<h3>Here's How Easy it Is:</h3>
	  	</div>

	    <div class="col-sm-2 col-xs-3">
	      <i class="fa fa-user-plus fa-5x"></i>
	      <h5>Make an Account</h5>
	    </div>

	    <div class="col-sm-2 col-xs-3">
	      <i class="fa fa-home fa-5x"></i>
	      <h5>List Your Outfitter</h5>
	    </div>

	    <div class="col-sm-2 col-xs-3">
	      <i class="fa fa-check-square-o fa-5x"></i>
	      <h5>Accept Bookings</h5>
	    </div>

	    <div class="col-sm-2 col-xs-3">
	      <i class="fa fa-money fa-5x"></i>
	      <h5>Get Paid</h5>
	    </div>
	  </div>
	</div>
</section>