<div class="row success">
	<div class="col-md-10 col-md-offset-1">
		<h1>Your Payment was Successful!</h1>

		<p>Thanks for making your payment! You should receive an email confirmation of your payment from Paypal shortly. That is your receipt. To view your reservation details, click on your name on the top right corner, then click on "My Trips":</p>

		<img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/huntivore_receipt.png" alt="Huntivore receipt" />

		<p>There, you will see your trips. Click on "View Reservation" to view details of the reservation:</p>

		<img src="https://s3-us-west-1.amazonaws.com/huntivore/images/assets/huntivore_view_reservation.png" alt="View Huntivore Reservation" />

		<p>If you have any questions about the hunt, please contact the property owner or hunt owner. If you have any other questions, please feel free to <a href="/contact">contact us</a>.</p>
	</div>
</div>