<% content_for :head do %>
  <title>Huntivore | Find Hunts by Game Type</title>
  <meta name="description" content="Find hunts by game type through Huntivore. You'll see a list of all game types that are featured in hunts here.">
<% end %>

<h1>Find a Hunt by Game Type</h1>

<div id="all-game">
	<% @games.each do |game| %>
	  <% if game.properties.any? %>
		  <%= link_to game.name, game_path(game), class: "btn btn-primary btn-lg" %>
		<% end %>
	<% end %>
</div>
