<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">Cancel Reservation</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please explain why you are canceling this reservation</h4>
      </div>
      <div class="modal-body">

        <%= form_for(@reservation) do |f| %>
          <%= f.text_area :cancel_reason, class: "form-control", rows: 3, placeholder: "We apologize but we need to cancel this reservation because...", required: true %> 
          <%= f.hidden_field :status, value: "Canceled" %>
          <div class="submit-modal-buttons">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.submit "Send Message", class: "btn btn-primary submit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
