<p>Hi boss,

The following night hunts were completed and the owners can be paid via Paypal.</p>

<ul>
<% @paid_night.each do |res| %>
  <li><strong>Reservation ID:</strong> <%= res.id %> - <%= res.property.user.full_name %>: <%= res.property.user.email %> - <strong><%= res.trip_price %></strong></li>
<% end %>
</ul>

<p>Thanks,<br />
Hunbot 3000</p>