/* ...
*= require_self
*= require jquery-ui/pepper-grinder
*= require_tree .
*/

@import "bootstrap-sprockets";

// First import united variables
@import "bootswatch/united/variables";

// Then bootstrap itself
@import "bootstrap";

// And finally bootswatch style itself
@import "bootswatch/united/bootswatch";

body {
	padding-top: 80px;
}
.jumbotron.home {
}
.form-horizontal.home {
	padding: 0 20px;
	h2 {
		text-align: center;
	}
	.btn {
		display: block;
		width: 100%;
	}
}