// Place all the styles related to the contact_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal.contact {
	margin-top: 40px;
	.control-label {
	  width: 100%;
	}
	textarea {
	  height: 120px;
	}
}