.file-upload {
	padding-top: 8px;
}
.col-md-8 {
	.prop-images {
	  img {
	    margin: 0 10px 10px 0;
	  }
	}
	.radio {
	  padding-left: 20px;
	}
}
.prop-image {
	img {
	  margin: 0 10px 10px 0;
	}
}
.property {
	h1 {
	  display: inline-block;
	}
	.favorite {
	  float: left;
	}
	a {
	  padding-right: 10px;
	  color: #efb73e;
	  &:hover {
	    color: #E7A413;
	  }
	}
}
p.search-number {
	margin-top: -10px;
	font-size: 16px;
}
.all-properties {
  padding-top: 30px;
	.row {
	  padding-bottom: 30px;
	  img {
	    float: left;
	    margin-right: 20px;
	    border:1px solid #FFF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
	  }
	  h4 {
	    font-weight: bold;
	    margin-bottom: 0;
	    padding-bottom: 0;
	  }
	}
}