.file-upload {
	padding-top: 8px;
}
.col-md-8 {
	.prop-images {
	  img {
	    margin: 0 10px 10px 0;
	  }
	}
}
.prop-image {
	img {
	  margin: 0 10px 10px 0;
	}
}
.property {
	h1 {
	  display: inline-block;
	}
	.favorite {
	  float: left;
	}
	a {
	  padding-right: 10px;
	  color: #efb73e;
	  &:hover {
	    color: #E7A413;
	  }
	}

}