.form-horizontal.property {
	.file-upload {
		padding-top: 8px;
	}
	.col-md-8 {
		.prop-images {
		  img {
		    margin: 0 10px 10px 0;
		  }
		}
		.radio {
		  padding-left: 20px;
		}
	}
	.prop-image {
		img {
		  margin: 0 10px 10px 0;
		}
	}
	.col-md-4.control-label {
	  @media(max-width: 992px) {
	    padding-bottom: 10px;
	  }
	}
}
.property {
	h1 {
	  display: inline-block;
	}
	.favorite {
	  float: left;
	  a {
		  padding-right: 10px;
		  color: #efb73e;
		  &:hover {
		    color: #E7A413;
		  }
	  }
	}
	a.social {
	  i {
	    margin-left: 20px;
	  }
	}
}
.listed-by {
  background-color: #EAE6E1;
  padding: 10px;
	-webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  min-height: 112px;
  margin-bottom: 40px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
  a {
    img {
      float: left;
    }
  }
  p {
    a {
      font-weight: bold;
      padding-left: 10px;
    }
  }
}
p.search-number {
	margin-top: -10px;
	font-size: 16px;
}
.all-properties {
  padding-top: 30px;
	.row {
	  padding-bottom: 30px;
	  img {
	    float: left;
	    margin-right: 20px;
	    border:1px solid #FFF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
	  }
	  h4 {
	    font-weight: bold;
	    margin-bottom: 0;
	    padding-bottom: 0;
	  }
	}
}

.share {
  position: fixed;
  z-index: 99;
  p.social {
  	font-size: 12px;
  	position: fixed;
  	top: 355px;
  	right: 0;
  	padding: 5px 10px 10px 9px;
  	background-color: #FFF;
  }
	.tw {
	  top: 380px;
	  position: fixed;
	  right: 0;
	  padding: 10px 12px 10px 12px;
	  color: #FFF;
	  background-color: #0084B4;
	  &:hover {
	    color: #FFF;
	    background-color: #005675;
	  }
	}
	.fb {
	  top: 428px;
	  position: fixed;
	  padding: 10px 17px;
	  right: 0;
	  background-color: #45629D;
	  color: #FFF;
	  &:hover {
	    color: #FFF;
	    background-color: #324672;
	  }
	}
}
.message-link {
	cursor: pointer;
}